C 0 0 "PE2" 0 0 0 0 60 0 L
X "PIN_TEXT" "PE2" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "PE3" 0 -100 0 0 60 0 L
X "PIN_TEXT" "PE3" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "PE4" 0 -200 0 0 60 0 L
X "PIN_TEXT" "PE4" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "PE5" 0 -300 0 0 60 0 L
X "PIN_TEXT" "PE5" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "PE6" 0 -400 0 0 60 0 L
X "PIN_TEXT" "PE6" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "VBAT" 0 -500 0 0 60 0 L
X "PIN_TEXT" "VBAT" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "PC13" 0 -600 0 0 60 0 L
X "PIN_TEXT" "PC13" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "PC14-OSC32_IN" 0 -700 0 0 60 0 L
X "PIN_TEXT" "PC14-OSC32_IN" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "PC15-OSC32_OUT" 0 -800 0 0 60 0 L
X "PIN_TEXT" "PC15-OSC32_OUT" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "VSS_1" 0 -900 0 0 60 0 L
X "PIN_TEXT" "VSS_1" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 0 -1000 "VDD_1" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "VDD_1" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1000 0 -1000 -1 0
C 0 -1100 "PH0-OSC_IN" 0 -1100 0 0 60 0 L
X "PIN_TEXT" "PH0-OSC_IN" 230 -1130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1100 0 -1100 -1 0
C 0 -1200 "PH1-OSC_OUT" 0 -1200 0 0 60 0 L
X "PIN_TEXT" "PH1-OSC_OUT" 230 -1230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1200 0 -1200 -1 0
C 0 -1300 "NRST" 0 -1300 0 0 60 0 L
X "PIN_TEXT" "NRST" 230 -1330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1300 0 -1300 -1 0
C 0 -1400 "PC0" 0 -1400 0 0 60 0 L
X "PIN_TEXT" "PC0" 230 -1430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1400 0 -1400 -1 0
C 0 -1500 "PC1" 0 -1500 0 0 60 0 L
X "PIN_TEXT" "PC1" 230 -1530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1500 0 -1500 -1 0
C 0 -1600 "PC2" 0 -1600 0 0 60 0 L
X "PIN_TEXT" "PC2" 230 -1630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1600 0 -1600 -1 0
C 0 -1700 "PC3" 0 -1700 0 0 60 0 L
X "PIN_TEXT" "PC3" 230 -1730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1700 0 -1700 -1 0
C 0 -1800 "VSSA" 0 -1800 0 0 60 0 L
X "PIN_TEXT" "VSSA" 230 -1830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1800 0 -1800 -1 0
C 0 -1900 "VREF-" 0 -1900 0 0 60 0 L
X "PIN_TEXT" "VREF-" 230 -1930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1900 0 -1900 -1 0
C 0 -2000 "VREF+" 0 -2000 0 0 60 0 L
X "PIN_TEXT" "VREF+" 230 -2030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2000 0 -2000 -1 0
C 0 -2100 "VDDA" 0 -2100 0 0 60 0 L
X "PIN_TEXT" "VDDA" 230 -2130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2100 0 -2100 -1 0
C 0 -2200 "PA0" 0 -2200 0 0 60 0 L
X "PIN_TEXT" "PA0" 230 -2230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2200 0 -2200 -1 0
C 0 -2300 "PA1" 0 -2300 0 0 60 0 L
X "PIN_TEXT" "PA1" 230 -2330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2300 0 -2300 -1 0
C 0 -2400 "PA2" 0 -2400 0 0 60 0 L
X "PIN_TEXT" "PA2" 230 -2430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -2400 0 -2400 -1 0
C 300 -3100 "PA3" 300 -3100 0 0 60 0 L
X "PIN_TEXT" "PA3" 330 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 300 -2900 300 -3100 -1 0
C 400 -3100 "VSS_2" 400 -3100 0 0 60 0 L
X "PIN_TEXT" "VSS_2" 430 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -2900 400 -3100 -1 0
C 500 -3100 "VDD_2" 500 -3100 0 0 60 0 L
X "PIN_TEXT" "VDD_2" 530 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -2900 500 -3100 -1 0
C 600 -3100 "PA4" 600 -3100 0 0 60 0 L
X "PIN_TEXT" "PA4" 630 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -2900 600 -3100 -1 0
C 700 -3100 "PA5" 700 -3100 0 0 60 0 L
X "PIN_TEXT" "PA5" 730 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -2900 700 -3100 -1 0
C 800 -3100 "PA6" 800 -3100 0 0 60 0 L
X "PIN_TEXT" "PA6" 830 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -2900 800 -3100 -1 0
C 900 -3100 "PA7" 900 -3100 0 0 60 0 L
X "PIN_TEXT" "PA7" 930 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 900 -2900 900 -3100 -1 0
C 1000 -3100 "PC4" 1000 -3100 0 0 60 0 L
X "PIN_TEXT" "PC4" 1030 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 1000 -2900 1000 -3100 -1 0
C 1100 -3100 "PC5" 1100 -3100 0 0 60 0 L
X "PIN_TEXT" "PC5" 1130 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 1100 -2900 1100 -3100 -1 0
C 1200 -3100 "PB0" 1200 -3100 0 0 60 0 L
X "PIN_TEXT" "PB0" 1230 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 1200 -2900 1200 -3100 -1 0
C 1300 -3100 "PB1" 1300 -3100 0 0 60 0 L
X "PIN_TEXT" "PB1" 1330 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 1300 -2900 1300 -3100 -1 0
C 1400 -3100 "PB2" 1400 -3100 0 0 60 0 L
X "PIN_TEXT" "PB2" 1430 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 1400 -2900 1400 -3100 -1 0
C 1500 -3100 "PE7" 1500 -3100 0 0 60 0 L
X "PIN_TEXT" "PE7" 1530 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 1500 -2900 1500 -3100 -1 0
C 1600 -3100 "PE8" 1600 -3100 0 0 60 0 L
X "PIN_TEXT" "PE8" 1630 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 1600 -2900 1600 -3100 -1 0
C 1700 -3100 "PE9" 1700 -3100 0 0 60 0 L
X "PIN_TEXT" "PE9" 1730 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 1700 -2900 1700 -3100 -1 0
C 1800 -3100 "PE10" 1800 -3100 0 0 60 0 L
X "PIN_TEXT" "PE10" 1830 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 1800 -2900 1800 -3100 -1 0
C 1900 -3100 "PE11" 1900 -3100 0 0 60 0 L
X "PIN_TEXT" "PE11" 1930 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 1900 -2900 1900 -3100 -1 0
C 2000 -3100 "PE12" 2000 -3100 0 0 60 0 L
X "PIN_TEXT" "PE12" 2030 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 2000 -2900 2000 -3100 -1 0
C 2100 -3100 "PE13" 2100 -3100 0 0 60 0 L
X "PIN_TEXT" "PE13" 2130 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 2100 -2900 2100 -3100 -1 0
C 2200 -3100 "PE14" 2200 -3100 0 0 60 0 L
X "PIN_TEXT" "PE14" 2230 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 2200 -2900 2200 -3100 -1 0
C 2300 -3100 "PE15" 2300 -3100 0 0 60 0 L
X "PIN_TEXT" "PE15" 2330 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 2300 -2900 2300 -3100 -1 0
C 2400 -3100 "PB10" 2400 -3100 0 0 60 0 L
X "PIN_TEXT" "PB10" 2430 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 2400 -2900 2400 -3100 -1 0
C 2500 -3100 "VCAP_1" 2500 -3100 0 0 60 0 L
X "PIN_TEXT" "VCAP_1" 2530 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 2500 -2900 2500 -3100 -1 0
C 2600 -3100 "VSS_3" 2600 -3100 0 0 60 0 L
X "PIN_TEXT" "VSS_3" 2630 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 2600 -2900 2600 -3100 -1 0
C 2700 -3100 "VDD_3" 2700 -3100 0 0 60 0 L
X "PIN_TEXT" "VDD_3" 2730 -2870 90 0.00 60 0 0 0 0 0 1 0 74
L 2700 -2900 2700 -3100 -1 0
C 3000 0 "VDD_4" 3000 0 0 0 60 0 R
X "PIN_TEXT" "VDD_4" 2770 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 0 3000 0 -1 0
C 3000 -100 "VSS_4" 3000 -100 0 0 60 0 R
X "PIN_TEXT" "VSS_4" 2770 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -100 3000 -100 -1 0
C 3000 -200 "VDDUSB" 3000 -200 0 0 60 0 R
X "PIN_TEXT" "VDDUSB" 2770 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -200 3000 -200 -1 0
C 3000 -300 "PA13" 3000 -300 0 0 60 0 R
X "PIN_TEXT" "PA13" 2770 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -300 3000 -300 -1 0
C 3000 -400 "PA12" 3000 -400 0 0 60 0 R
X "PIN_TEXT" "PA12" 2770 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -400 3000 -400 -1 0
C 3000 -500 "PA11" 3000 -500 0 0 60 0 R
X "PIN_TEXT" "PA11" 2770 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -500 3000 -500 -1 0
C 3000 -600 "PA10" 3000 -600 0 0 60 0 R
X "PIN_TEXT" "PA10" 2770 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -600 3000 -600 -1 0
C 3000 -700 "PA9" 3000 -700 0 0 60 0 R
X "PIN_TEXT" "PA9" 2770 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -700 3000 -700 -1 0
C 3000 -800 "PA8" 3000 -800 0 0 60 0 R
X "PIN_TEXT" "PA8" 2770 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -800 3000 -800 -1 0
C 3000 -900 "PC9" 3000 -900 0 0 60 0 R
X "PIN_TEXT" "PC9" 2770 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -900 3000 -900 -1 0
C 3000 -1000 "PC8" 3000 -1000 0 0 60 0 R
X "PIN_TEXT" "PC8" 2770 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -1000 3000 -1000 -1 0
C 3000 -1100 "PC7" 3000 -1100 0 0 60 0 R
X "PIN_TEXT" "PC7" 2770 -1130 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -1100 3000 -1100 -1 0
C 3000 -1200 "PC6" 3000 -1200 0 0 60 0 R
X "PIN_TEXT" "PC6" 2770 -1230 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -1200 3000 -1200 -1 0
C 3000 -1300 "PD15" 3000 -1300 0 0 60 0 R
X "PIN_TEXT" "PD15" 2770 -1330 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -1300 3000 -1300 -1 0
C 3000 -1400 "PD14" 3000 -1400 0 0 60 0 R
X "PIN_TEXT" "PD14" 2770 -1430 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -1400 3000 -1400 -1 0
C 3000 -1500 "PD13" 3000 -1500 0 0 60 0 R
X "PIN_TEXT" "PD13" 2770 -1530 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -1500 3000 -1500 -1 0
C 3000 -1600 "PD12" 3000 -1600 0 0 60 0 R
X "PIN_TEXT" "PD12" 2770 -1630 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -1600 3000 -1600 -1 0
C 3000 -1700 "PD11" 3000 -1700 0 0 60 0 R
X "PIN_TEXT" "PD11" 2770 -1730 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -1700 3000 -1700 -1 0
C 3000 -1800 "PD10" 3000 -1800 0 0 60 0 R
X "PIN_TEXT" "PD10" 2770 -1830 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -1800 3000 -1800 -1 0
C 3000 -1900 "PD9" 3000 -1900 0 0 60 0 R
X "PIN_TEXT" "PD9" 2770 -1930 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -1900 3000 -1900 -1 0
C 3000 -2000 "PD8" 3000 -2000 0 0 60 0 R
X "PIN_TEXT" "PD8" 2770 -2030 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -2000 3000 -2000 -1 0
C 3000 -2100 "PB15" 3000 -2100 0 0 60 0 R
X "PIN_TEXT" "PB15" 2770 -2130 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -2100 3000 -2100 -1 0
C 3000 -2200 "PB14" 3000 -2200 0 0 60 0 R
X "PIN_TEXT" "PB14" 2770 -2230 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -2200 3000 -2200 -1 0
C 3000 -2300 "PB13" 3000 -2300 0 0 60 0 R
X "PIN_TEXT" "PB13" 2770 -2330 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -2300 3000 -2300 -1 0
C 3000 -2400 "PB12" 3000 -2400 0 0 60 0 R
X "PIN_TEXT" "PB12" 2770 -2430 0 0.00 60 0 0 2 0 0 1 0 74
L 2800 -2400 3000 -2400 -1 0
C 300 700 "VDD_5" 300 700 0 0 60 0 R
X "PIN_TEXT" "VDD_5" 330 470 90 0.00 60 0 0 2 0 0 1 0 74
L 300 500 300 700 -1 0
C 400 700 "VSS_5" 400 700 0 0 60 0 R
X "PIN_TEXT" "VSS_5" 430 470 90 0.00 60 0 0 2 0 0 1 0 74
L 400 500 400 700 -1 0
C 500 700 "VCAP_2" 500 700 0 0 60 0 R
X "PIN_TEXT" "VCAP_2" 530 470 90 0.00 60 0 0 2 0 0 1 0 74
L 500 500 500 700 -1 0
C 600 700 "PE0" 600 700 0 0 60 0 R
X "PIN_TEXT" "PE0" 630 470 90 0.00 60 0 0 2 0 0 1 0 74
L 600 500 600 700 -1 0
C 700 700 "PB9" 700 700 0 0 60 0 R
X "PIN_TEXT" "PB9" 730 470 90 0.00 60 0 0 2 0 0 1 0 74
L 700 500 700 700 -1 0
C 800 700 "PB8" 800 700 0 0 60 0 R
X "PIN_TEXT" "PB8" 830 470 90 0.00 60 0 0 2 0 0 1 0 74
L 800 500 800 700 -1 0
C 900 700 "BOOT0" 900 700 0 0 60 0 R
X "PIN_TEXT" "BOOT0" 930 470 90 0.00 60 0 0 2 0 0 1 0 74
L 900 500 900 700 -1 0
C 1000 700 "PB7" 1000 700 0 0 60 0 R
X "PIN_TEXT" "PB7" 1030 470 90 0.00 60 0 0 2 0 0 1 0 74
L 1000 500 1000 700 -1 0
C 1100 700 "PB6" 1100 700 0 0 60 0 R
X "PIN_TEXT" "PB6" 1130 470 90 0.00 60 0 0 2 0 0 1 0 74
L 1100 500 1100 700 -1 0
C 1200 700 "PB5" 1200 700 0 0 60 0 R
X "PIN_TEXT" "PB5" 1230 470 90 0.00 60 0 0 2 0 0 1 0 74
L 1200 500 1200 700 -1 0
C 1300 700 "PB4" 1300 700 0 0 60 0 R
X "PIN_TEXT" "PB4" 1330 470 90 0.00 60 0 0 2 0 0 1 0 74
L 1300 500 1300 700 -1 0
C 1400 700 "PB3" 1400 700 0 0 60 0 R
X "PIN_TEXT" "PB3" 1430 470 90 0.00 60 0 0 2 0 0 1 0 74
L 1400 500 1400 700 -1 0
C 1500 700 "PD7" 1500 700 0 0 60 0 R
X "PIN_TEXT" "PD7" 1530 470 90 0.00 60 0 0 2 0 0 1 0 74
L 1500 500 1500 700 -1 0
C 1600 700 "PD6" 1600 700 0 0 60 0 R
X "PIN_TEXT" "PD6" 1630 470 90 0.00 60 0 0 2 0 0 1 0 74
L 1600 500 1600 700 -1 0
C 1700 700 "PD5" 1700 700 0 0 60 0 R
X "PIN_TEXT" "PD5" 1730 470 90 0.00 60 0 0 2 0 0 1 0 74
L 1700 500 1700 700 -1 0
C 1800 700 "PD4" 1800 700 0 0 60 0 R
X "PIN_TEXT" "PD4" 1830 470 90 0.00 60 0 0 2 0 0 1 0 74
L 1800 500 1800 700 -1 0
C 1900 700 "PD3" 1900 700 0 0 60 0 R
X "PIN_TEXT" "PD3" 1930 470 90 0.00 60 0 0 2 0 0 1 0 74
L 1900 500 1900 700 -1 0
C 2000 700 "PD2" 2000 700 0 0 60 0 R
X "PIN_TEXT" "PD2" 2030 470 90 0.00 60 0 0 2 0 0 1 0 74
L 2000 500 2000 700 -1 0
C 2100 700 "PD1" 2100 700 0 0 60 0 R
X "PIN_TEXT" "PD1" 2130 470 90 0.00 60 0 0 2 0 0 1 0 74
L 2100 500 2100 700 -1 0
C 2200 700 "PD0" 2200 700 0 0 60 0 R
X "PIN_TEXT" "PD0" 2230 470 90 0.00 60 0 0 2 0 0 1 0 74
L 2200 500 2200 700 -1 0
C 2300 700 "PC12" 2300 700 0 0 60 0 R
X "PIN_TEXT" "PC12" 2330 470 90 0.00 60 0 0 2 0 0 1 0 74
L 2300 500 2300 700 -1 0
C 2400 700 "PC11" 2400 700 0 0 60 0 R
X "PIN_TEXT" "PC11" 2430 470 90 0.00 60 0 0 2 0 0 1 0 74
L 2400 500 2400 700 -1 0
C 2500 700 "PC10" 2500 700 0 0 60 0 R
X "PIN_TEXT" "PC10" 2530 470 90 0.00 60 0 0 2 0 0 1 0 74
L 2500 500 2500 700 -1 0
C 2600 700 "PA15" 2600 700 0 0 60 0 R
X "PIN_TEXT" "PA15" 2630 470 90 0.00 60 0 0 2 0 0 1 0 74
L 2600 500 2600 700 -1 0
C 2700 700 "PA14" 2700 700 0 0 60 0 R
X "PIN_TEXT" "PA14" 2730 470 90 0.00 60 0 0 2 0 0 1 0 74
L 2700 500 2700 700 -1 0
L 200 500 2800 500 -1 0
L 2800 -2900 2800 500 -1 0
L 2800 -2900 200 -2900 -1 0
L 200 500 200 -2900 -1 0
P "$LOCATION" "?" 2850 670 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

